*{
    box-sizing: border-box;
}

body{
    width: 90%;
    margin: 0 auto;
    padding:100px 100px ;
    background-color: #1F2544;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: mintcream;
    border: 1px solid mintcream;

}

h1,h2,h3{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FF8474;
}

h1{
    font-size: 45px;
}

.intro{


    display: flex;
    align-items: center;
    flex-direction: column;
    flex-direction: column;

}

.image-container{
    width: 100px;
    height: 100px;

}
.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a{
    color: darkorange;
}